*.orig
*.pyc
*.swp
*.swo
*.csv
*.log
*.bak
logs
.git

bower_components
node_modules

._.DS_Store
.fuse_hidden*
newrelic.ini

.idea/
.ropeproject/
Session.vim

tags


# Tests
.tox
.pytest_cache
.cache/
__pycache__
